<footer class="p2pu-footer">

	<div class="container">
		<div class= "row">
		    <div class="col-sm-3 col-sm-offset-3">
		      <a href="https://inquiryum.com/" class="image-link"><img id="cmp-logo" src="{{site.baseurl}}/img/inquiryum-logo.png" class="img-responsive"></a>
		    </div>

		    <div class="col-sm-3">
		      <a href="https://www.imls.gov" class="image-link"><img src="{{site.baseurl}}/img/footer2.png" class="img-responsive"></a>
		    </div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3" id="p2pu-content">
			    <p>Built using <a href="http://howto.p2pu.org">Course in a Box</a>, a project of</p>
			    <a href="https://www.p2pu.org" class="image-link"><img src="{{site.baseurl}}/img/p2pu-logo-2x-white.png" alt="P2PU logo"></a>
		    </div>
		</div>
	  
	  	<div class="row">
		  	<div class="col-sm-10 col-sm-offset-1 cc-by-sa">
				<img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon" class="img-responsive">
				<p>
					Unless otherwise noted, all the materials on this site are licensed under a
					<a target="_blank" href="http://creativecommons.org/licenses/by-sa/4.0/">
					Creative Commons Attribution Share Alike 4.0</a> Unported license.
				</p>
			</div>
		</div>

	</div>

</footer>

