
<div class="lc-card">
  <a id="" class="link-overlay d-url" href="https://learningcircles.p2pu.org/" target="blank"></a>
  <img class="d-image_url" src="https://learningcircles.p2pu.org/static/images/learning-circle-default.jpg" alt="Image for Learning Circle" height="143" width="286">
  <div class="title-container"><h1 class="d-course_title"></h1></div>
  <div class="body-container">
    <p>Facilitator: <span class="extrabold d-facilitator">Facilitator name</span></p>
    <p><span class="extrabold lc-card-teal"><i class="fa fa-map-marker"></i> <span class="d-venue">Venue name</span></span><br>
    <span class="d-venue_address">Venue address</span></p>
    <p class="lc-daysX"><span class="extrabold d-day">Weekday</span>, <span class="d-meeting_time">3 PM</span> - <span class="d-end_time">4:35 PM</span>, <span class="d-time_zone">Asia/Dili</span></p>
    <p class="lc-startX"><span class="extrabold"><span class="d-weeks">3</span> weeks</span> beginning <span class="extrabold d-start_date">17 March 2016</span></p>
  </div>
</div>
